<div class="album" id="{{name}}">
	<div class="album-header">
		<h2 class="album-name">{{name}}</h2>
		<p class="small">{{licence}}</p>
	</div>

	<div class="pictures-album">
		{{#each pictures}}
			<a class="picture" href="{{fullsize}}" rel="{{../name}}"><img src="{{thumb}}" alt="" /></a>
		{{/each}}
	</div>
</div>
