<div class="album">
	<h2 id="{{name}}">{{name}}</h2>

	<ul class="pictures-album">
		{{#each pictures}}
			<li class="picture">
				<a href="{{fullsize}}" rel="{{../name}}"><img src="{{thumb}}" alt="" /></a>
			</li>
		{{/each}}
	</ul>
</div>
